.header {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	padding: 20px 100px;
	margin-bottom: 30px;

	.logo {
		background-image: url('assets/logo.svg');
		background-repeat: no-repeat;
		height: 90px;
		width: 90px;
	}

	.sign-buttons {
		padding-top: 20px;
	}
}

.footer {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

    .licences {
    	text-align: center;
        padding-left: 90px;
    }

    .social {
    	i {
    		padding: 15px;
    	}

    	.fa-vk {
			color: #49769f;
    	}

    	.fa-facebook {
    		color: #375996;	
    	}

    	.fa-twitter {
    		color: #49abeb;
    	}
    }
}