include ./meta.pug
include ./header.pug
.main-container
	.title Right — робот-консультант для автоматической торговли акциями и облигациями
	.description Вложите от 10 000 рублей в акции и получайте доход от их роста.
	.partners
		img(src="./css/assets/logo-finance.png")
		img(src="./css/assets/logo-mos.svg")
	a.btn-mid-begin(href='./2.html') НАЧАТЬ
include ./footer.pug